@import "../../../styles/variables.scss";

.settings-container {
  height: 80%;
  width: 400px;
  max-width: $max-width;
  h1 {
    color: $color-secondary-text;
    font-size: 2em;
    text-align: center;
  }
}

.settings-cog {
  font-size: 0.8em;
  padding: 0em 0.5em 0em 0.5em;
  color: $color-primary-background;
}

.option-group {
  padding: 1em;
  margin: 1em;
}

.audio-toggle {
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
  color: $color-primary-background;
}
