@import "../../../styles/variables.scss";

.option-item {
  border: none;
  padding: 0.2rem 0.5rem;
  background-color: lighten($color-primary-text, $amount: 10%);
  &--selected {
    background-color: darken($color-primary-text, $amount: 10%);
  }
  &:hover {
    background-color: darken($color-primary-text, $amount: 10%);
    cursor: pointer;
  }
}
