@import "../../styles/variables.scss";

.box-waiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(rgba(3, 3, 3, 0.95), rgba(35, 34, 34, 0.6)),
    url("../../components/images/bg4.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  p {
    color: $color-secondary-background;
  }
  &--content {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    overflow: hidden;
    width: 500px;
    max-width: 90vw;
    padding-left: calc(min(150px));
    padding-right: calc(min(150px));
    min-height: 100vh;
  }
  &--header {
    margin-top: calc(min(100px, 30%));
    font-family: $Audiowide;
    color: $color-primary-text;
    text-align: center;
  }
  .icon {
    font-size: $font-regular;
    color: $color-secondary-background;
    transition: all 0.2s ease-in;
    margin: $small-spacer $small-spacer;
    &:hover {
      color: $color-primary-text;
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  .waiting-header {
    width: 100%;
    max-width: calc(min(800px, calc(100vw - 1em)));
    display: flex;
    justify-content: space-between;
    font-size: $font-large;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.5em 0 0 0;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
  }
}

@media only screen and (min-width: 520px) {
  .box-waiting .icon {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .box-waiting--content {
    background-color: rgba(3, 3, 3, 0.6);
  }
}
