@import "../../styles/variables.scss";

.box-waiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  // background-color: $color-primary-background;
  background: linear-gradient(rgba(37, 37, 37, 0.45), rgba(0, 0, 0, 0.45)),
    url("https://i.pinimg.com/originals/56/58/6c/56586c83d06a53b3c25ce54bb4278f62.jpg")
      no-repeat center center/cover;
  padding: 3em;
  p {
    color: $color-secondary-background;
  }
  &--content {
    display: flex;
    flex-direction: column;
  }
  &--header {
    font-family: $Audiowide;
    color: $color-primary-text;
    text-align: center;
  }
  .icon {
    color: $color-secondary-background;
    transition: color 0.2s ease-in;
    margin: $small-spacer $small-spacer auto auto;
    &:hover {
      color: $color-primary-text;
      cursor: pointer;
    }
  }

  .waiting-header {
    font-size: $font-large;
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }
}
