@import "../../styles/variables.scss";

.player-container {
  border: 1px solid $color-secondary-text;
  border-radius: 1em;
  margin: 0.2rem auto;
  background-color: white;
  width: 99%;
  padding: 0.2rem;

  .list-item-text {
    margin: 0;
    font-size: 0.8em;
    color: $color-secondary-text;
  }

  .game-id {
    padding: 0.4rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    margin: 0.1em;
  }

  .user-icon {
    padding-top: 0.2rem;
    margin-right: 0.3em;
  }
  p {
    font-family: $FancyFont;
    font-size: 2rem;
    color: $color-primary-background;
  }
  .id-text {
    font-size: 1rem;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
  }

  .clipboard-content {
    justify-content: center;
    h2{
      display:flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 0 2.8rem;
    }
    .clipboard-icon{
      margin: 0 0 0 0.5rem;
      font-size: 1.2rem;
      align-self: center;
      
    }
  }
  .copy-message{
    font-size:0.2rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    &--show{

      opacity: 1;
      visibility: visible;
    }
  }
}

@media only screen and (min-width: 520px) {
  .player-container {
    .list-item-text {
      font-size: 1.2rem;
    }
    .id-text {
      font-size: 1.5rem;
    }
  }
}
