@import "../../styles/variables.scss";

.player-container {
  border: 1px solid $color-secondary-text;
  border-radius: 1em;
  margin: 0.5em auto;
  background-color: white;
  width: 100%;

  .list-item-text {
    color: $color-secondary-text;
  }

  .user-icon {
    margin-right: 0.5em;
  }
  p {
    font-family: $FancyFont;
    color: $color-primary-background;
  }

  h2 {
    text-align: center;
  }
}
