@import "../../styles/variables.scss";

.playerList-container {
  h2 {
    margin: 1rem;
    font-family: $Audiowide;
    color: $color-primary-text;
    text-align: center;
  }
  margin-bottom: 10rem;
}
