@import "../styles/variables.scss";

.info-modal {
  font-family: $FancyFont;
  width: $modal-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $primary-dark;
  font-size: 0.9rem;
  max-width: $max-width;

  .rules-heading {
    border-radius: $border-radius;
    border: 1.7px $text-primary solid;

    h3 {
      font-size: 1rem;
      color: $primary-dark;
    }
  }

  .content {
    margin-top: $small-spacer;
    padding: $small-spacer;
    border-radius: 1em 1em 0 0;

    z-index: 9;
    &--rules {
      margin-top: 0;
    }

    p {
      line-height: 1rem;
    }
  }

  .text-heading {
    color: $primary-dark;
  }
  .text-bright {
    font-size: 1.2rem;
    color: $color-secondary-text;
    text-align: center;
  }
  .inner-text {
    font-size: 0.7rem;
  }

  .category-text {
    font-size: 1.2em;
    color: darken($text-primary, $amount: 10%);
  }
}

.info-heading,
.game_type--type,
.scoring,
.customizeable_game_settings,
.contribute,
.credits {
  border-radius: $border-radius;
  margin-bottom: 2rem;
  border: 1px solid $primary-dark;
  padding: 0 $xtra-small-spacer;
  ul {
    list-style-type: none;
    font-family: $RegularFont;
    line-height: 1rem;
  }
}

.centered {
  text-align: center;
  &_small {
    text-align: center;
    font-size: 0.8rem;
  }
}

.indent {
  margin-left: $small-spacer;
}

li {
  font-family: $RegularFont;
  margin-bottom: $xtra-small-spacer;
  margin-left: -$small-spacer;
}

.credits,
.contribute {
  ul.dev {
    padding-left: 0;
    li {
      margin-left: 0;
      a {
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width: 520px) {
  h2 {
    font-size: $font-large;
  }
  .text-bright {
    font-size: $font-regular;
  }
}
