@import "../styles/variables.scss";

h1 {
  font-size: $font-regular;
  font-family: $FancyFont;
  color: $color-primary-text;
}

.box-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;

  // background: linear-gradient(180deg, $color-primary-background 0%, $color-secondary-text 35%, $color-primary-text 100%);
  // background-color: $color-primary-background;
  background: linear-gradient(rgba(3, 3, 3, 0.95), rgba(35, 34, 34, 0.6)),
    //   // url("https://i.pinimg.com/originals/56/58/6c/56586c83d06a53b3c25ce54bb4278f62.jpg")
      //     // url("https://images.unsplash.com/photo-1532033373539-6c4b2235e05a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80");
      //     // url("https://c4.wallpaperflare.com/wallpaper/7/102/424/music-background-80s-neon-wallpaper-preview.jpg");
      url("./images/bg4.jpeg");

  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3em;
  &--content {
    margin-bottom: $large-spacer;
  }
  &--heading {
    margin-bottom: 1rem;
    text-align: center;
  }
}

input {
  border-radius: 1rem;
  font-family: $FancyFont;
  align-self: center;
  height: 2em;
  width: 12em;
  display: block;
  text-align: center;
  border: none;
  margin: 0.5em;
  margin-bottom: 0;
  border: 1.5px solid $color-primary-background;
  &:focus {
    outline: none;
  }
  ::placeholder {
    color: $color-primary-background;
  }
}

form {
  max-width: $max-width;
  font-family: $FancyFont;
  border-radius: 1.5em;
  background-color: white;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;

  .btn-flex {
    display: flex;
    justify-content: center;
  }
}
p {
  margin-bottom: 0.4rem;
  text-align: center;
  color: $color-primary-background;
}

.text-dark {
  color: $color-primary-background;
}

.error-message p {
  color: $color-secondary-text;
  font-size: 0.7rem;
}

.home-header {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3rem;
  text-align: right;
  margin-left: $small-spacer;
}

.icon {
  font-size: $font-regular;
  color: $color-secondary-background;
  transition: color 0.2s ease-in;
  margin: $small-spacer $small-spacer auto auto;
  // &:hover {
  //   color: $color-primary-text;
  //   cursor: pointer;
  // }
  &__public {
    margin: $small-spacer 0 0 0;
  }
  &__box {
    display: flex;
    justify-content: center;
  }
}

.icon,
.icon__public {
  transition: all 0.2s ease-in;
  &:hover {
    color: $color-primary-text;
    cursor: pointer;
    transform: scale(1.2);
  }
}

@media only screen and (min-width: 520px) {
  h1 {
    font-size: $font-large;
  }
  .icon {
    font-size: 2.5rem;
  }
}
