@import "../styles/variables.scss";

h1 {
  font-size: 3em;
  font-family: $FancyFont;
  color: $color-primary-text;
}

.box-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;

  // background: linear-gradient(180deg, $color-primary-background 0%, $color-secondary-text 35%, $color-primary-text 100%);
  // background-color: $color-primary-background;
  background: linear-gradient(rgba(37, 37, 37, 0.45), rgba(0, 0, 0, 0.45)),
    url("https://i.pinimg.com/originals/56/58/6c/56586c83d06a53b3c25ce54bb4278f62.jpg")
      no-repeat center center/cover;
  background-attachment: fixed;
  padding: 3em;
  &--content {
    margin-bottom: $large-spacer;
  }
  &--heading {
    margin-bottom: 1rem;
    text-align: center;
  }
}

input {
  border-radius: 1rem;
  font-family: $FancyFont;
  align-self: center;
  height: 2em;
  width: 12em;
  display: block;
  text-align: center;
  border: none;
  margin: 0.5em;
  margin-bottom: 0;
  border: 1.5px solid $color-primary-background;
  &:focus {
    outline: none;
  }
  ::placeholder {
    color: $color-primary-background;
  }
}

form {
  max-width: $max-width;
  font-family: $FancyFont;
  border-radius: 1.5em;
  background-color: white;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}
p {
  margin-bottom: 0.4rem;
  text-align: center;
  color: $color-primary-background;
}

.text-dark {
  color: $color-primary-background;
}

.error-message p {
  color: $color-secondary-text;
  font-size: 0.7rem;
}

.home-header {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3rem;
  text-align: right;
  margin-left: $small-spacer;
}

.icon {
  font-size: 2.5rem;
  color: $color-secondary-background;
  transition: color 0.2s ease-in;
  margin: $small-spacer $small-spacer auto auto;
  &__public {
    margin: $small-spacer 0 0 0;
  }
  &__box {
    display: flex;
    justify-content: center;
  }
}

.icon,
.icon__public {
  &:hover {
    color: $color-primary-text;
    cursor: pointer;
  }
}

// //Site Information and Rules Modal Styling

// .info-modal {
//   font-family: $FancyFont;
//   width: $max-width;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   color: $primary-dark;
//   font-size: 0.9rem;

//   .rules-heading {
//     width: 90%;
//     // background-color: $text-primary;
//     border-radius: $border-radius;
//     border: 1.7px $text-primary solid;

//     h3 {
//       font-size: 1rem;
//       text-align: center;
//       color: $primary-dark;
//     }
//   }

//   .content {
//     width: 70%;
//     margin-top: $small-spacer;
//     padding: $small-spacer;
//     border-radius: 1em 1em 0 0;

//     line-height: 3rem;
//     border: 1.5px $primary-dark solid;
//     border-bottom: none;
//     z-index: 9;
//     &--rules {
//       margin-top: 0;
//       border: 1.5px $primary-dark solid;
//       border-top: none;
//       border-radius: 0 0 1em 1em;
//     }

//     p {
//       line-height: 1.5rem;
//     }
//   }

//   .text-heading {
//     color: $primary-dark;
//   }
//   .text-bright {
//     font-size: 0.9rem;
//     color: $color-secondary-text;
//   }
//   .inner-text {
//     font-size: 0.7rem;
//   }

//   .category-text {
//     font-size: 1.2em;
//     color: darken($text-primary, $amount: 10%);
//   }
// }
