@import "../styles/variables.scss";

h1 {
  font-size: 3em;
  font-family: $Audiowide;
  color: $color-primary-text;
}

.box-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  // background: linear-gradient(180deg, $color-primary-background 0%, $color-secondary-text 35%, $color-primary-text 100%);
  // background-color: $color-primary-background;
  background: linear-gradient(rgba(37, 37, 37, 0.45), rgba(0, 0, 0, 0.45)),
    url("https://i.pinimg.com/originals/56/58/6c/56586c83d06a53b3c25ce54bb4278f62.jpg")
      no-repeat center center/cover;

  padding: 3em;
}

input {
  border-radius: 1em;
  font-family: $Audiowide;
  align-self: center;
  height: 2em;
  width: 12em;
  display: block;
  text-align: center;
  border: none;
  margin: 0.5em;
  border: 1.5px solid $color-primary-background;
  &:focus {
    outline: none;
  }
  ::placeholder {
    color: $color-primary-background;
  }
}

form {
  border-radius: 1.5em;
  background-color: white;
  margin-bottom: 2em;

  display: flex;
  flex-direction: column;
}
p {
  font-family: $Audiowide;
  text-align: center;
  color: $color-primary-background;
}

.text-dark {
  color: $color-primary-background;
}
