@import "../styles/variables.scss";

.game-id-container {
  border: 1px solid $color-secondary-text;
  border-radius: 1em;
  margin: 0.2rem auto;
  background-color: white;
  // width: $modal-width;
  width: 98%;
  max-width: $max-width;

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    width: 90%;

    p {
      margin-top: 0;
      font-family: $FancyFont;
      font-size: $font-mobile;
      color: $color-primary-background;
    }
    p:first-child {
      margin-left: 0;
    }
    p:last-child {
      font-size: $font-regular;
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 520px) {
  .game-id-container div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p:first-child {
      margin-left: $small-spacer;
    }
  }
}
