@import "../styles/variables.scss";

.publicGame__box {
  display: flex;
  flex-direction: column;
  margin: 0.2rem auto;
  width: $modal-width;
  max-width: $max-width;
  h2 {
    font-size: 2rem;
    color: $primary-dark;
    margin: $small-spacer $small-spacer 0 $small-spacer;
    font-family: $Audiowide;
    text-align: center;
  }
  .user-icon {
    margin-right: 0.2rem;
  }
  h3 {
    margin: $small-spacer 0;
    font-size: $font-regular;
    font-family: $Audiowide;
    font-weight: 300;
    color: $color-primary-text;
    text-align: center;
  }
  h4 {
    margin-top: 0;
    font-family: $FancyFont;
    color: $color-secondary-text;
    font-size: $font-mobile;
    text-align: center;
  }

  .category-heading {
    display: none;
    justify-content: space-evenly;
    border: none;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width: 520px) {
  .publicGame__box {
    h2 {
      font-size: $font-large;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: $font-regular;
    }
  }
}
