@import "../styles/variables.scss";

.game-id-container {
  border: 1px solid $color-secondary-text;
  border-radius: 1em;
  margin: 0.2rem auto;
  background-color: white;
  // width: $modal-width;
  width: 98%;
  max-width: $max-width;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: space-between;
  .box__users {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (min-width: 520px) {
  .game-id-container div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p:first-child {
      margin-left: $small-spacer;
    }
  }
}
