@import "../styles/variables.scss";

.game-id-container {
  border: 1px solid $color-secondary-text;
  border-radius: 1em;
  margin: 0.2rem auto;
  background-color: white;
  // width: $modal-width;
  width: 100%;
  max-width: $max-width;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .box__users {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
    }
  }
  button.btn.btn--publicGames {
    width: $btn-width;
    max-width: 50%;
    align-self: center;
    border: 1px solid $primary-dark;
    margin: 1em 0.5em;
  }
}

@media only screen and (min-width: 520px) {
  .game-id-container .box__users {
    font-size: $font-regular;
  }
}
