@import "../../styles/variables.scss";
@import "../../styles/animations.scss";

.panel {
  margin: 0 auto;
  width: 90%;
  background-color: $primary-light;
  text-align: center;
  border-radius: $border-radius;
  font-family: $RegularFont;
  font-size: $font-regular;
  font-weight: 600;
  .icon__correct,
  .icon__incorrect {
    color: $color-transparent;
  }
}

.panel__answer {
  border: 1.5px $color-primary-text solid;
  background-color: $primary-light;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: lighten($color-secondary-background, $amount: 13%);
    // background-color: lighten($primary-dark, $amount: 70%);
  }

  &--selectedFalse {
    // background-color: lighten(#ee8478, $amount: 5%);
    border: 3px dashed red;
    // color: $primary-light;
    // transition: background-color 1s ease-in;

    // transform: translateY(-$xtra-small-spacer);
    // box-shadow: 10px 10px 10px black;

    transition: all 0.5s ease;
    // animation: 1s ease-in infinite flashRed;
    .icon__incorrect {
      color: red;
      transition: all 1s ease-in;
      // animation: 2.5s ease-in infinite wiggle;
    }

    &:hover {
      color: $primary-light;
      // background-color: lighten(#f26e5f, $amount: 5%);
    }
  }

  &--selectedTrue {
    // background-color: lighten(#80e7bc, $amount: 10%);
    // color: $primary-light;
    // transition: background-color 1s ease-in;
    transform: translateY(-$xtra-small-spacer);
    border: 0.5rem $color-primary-text solid;
    box-shadow: 10px 10px 10px black;
    transition: all 1s ease-in;
    .icon__correct {
      color: $color-black;
      font-size: 2rem;
      transition: all 1s ease-in;
    }
    &:hover {
      color: $primary-light;
      //   // background-color: lighten(#35ce8d, $amount: 10%);
    }
  }
  p {
    margin: 0;
    color: $primary-dark;
  }
}

.panel__question {
  width: 90%;
  font-size: 0.9rem;
  background-color: $primary-light;
  p {
    color: $primary-dark;
    padding: 0 0.2em;
  }
}
