@import "../../styles/variables.scss";

.box {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
  width: 90%;
  padding: 0 1rem;

  &__answer {
    background-color: $color-secondary-text;
    min-height: 14rem;
    // height: 50vh;
    // max-height: 24rem;
    max-width: $max-width;
    border-radius: $border-radius;
    box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.3);
    margin-top: $xtra-small-spacer;
  }
  &__question {
    background-color: $primary-light;
    border-radius: $border-radius;
    width: 300px;
    max-width: 75vw;
    margin: 0;
    padding: 0 16px 0 16px;
  }
}

@media only screen and (min-width: 375px) {
  .box {
    &__answer {
      min-height: 17rem;
    }
    &__question {
      margin: $medium-spacer 0;
    }
  }
}
@media only screen and (min-width: 760px) {
  .box {
    &__question {
      width: 650px;
      max-width: 90vw;
    }
    &__answer {
      min-height: 23rem;
    }
  }
}
