@import "../../styles/variables.scss";

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  padding: 1rem;
  background-color: lighten($color-primary-background, $amount: 70%);
  margin-top: $medium-spacer;
  &__answer {
    background-color: lighten($color-primary-background, $amount: 10%);
    height: 50vh;
    max-height: 24rem;
    max-width: $max-width;
    border-radius: $border-radius;
  }
  &__question {
    border-radius: $border-radius;
    border-top: 0.1em $color-primary-background solid;
    border-bottom: 0.1em $color-primary-background solid;
    width: 100%;
    margin: 0;
    background-color: $primary-light;
    padding: 0 16px 0 16px;
  }
}
