@import "../../styles/variables.scss";

.panel {
  margin: 0 auto;
  width: 90%;
  background-color: $color-secondary-background;
  text-align: center;
  border-radius: 10px;
  font-family: $RegularFont;
}
.panel__answer {
  &:hover {
    background-color: lighten($color-secondary-background, $amount: 5%);
  }
  &--selectedFalse {
    background-color: lighten($color-primary-button-background, $amount: 5%);
    transition: background-color 0.5s ease-in;
    &:hover {
      background-color: lighten($color-primary-button-background, $amount: 5%);
    }
  }
  &--selectedTrue {
    background-color: lighten($color-secondary-button-background, $amount: 5%);
    transition: background-color 0.5s ease-in;
    &:hover {
      background-color: lighten(
        $color-secondary-button-background,
        $amount: 5%
      );
    }
  }
}
