@import "../../styles/variables.scss";

.box {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
  width: 90%;
  padding: 0 1rem;

  margin-top: $medium-spacer;
  &__answer {
    background-color: $color-secondary-text;
    height: 40vh;
    max-height: 24rem;
    max-width: $max-width;
    border-radius: $border-radius;
    box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.3);
  }
  &__question {
    background-color: $primary-light;
    border-radius: $border-radius;
    width: 300px;
    max-width: 75vw;
    margin: 0;
    padding: 0 16px 0 16px;
    &__hard {
      border: 5px solid orangered;
    }
    &__medium {
      border: 5px solid goldenrod;
    }
    &__easy {
      border: 5px solid lightblue;
    }
  }
}

@media only screen and (min-width: 760px) {
  .box {
    &__question {
      width: 650px;
      max-width: 90vw;
      margin: auto;
    }
  }
}
