@import "../../styles/variables.scss";

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-question {
  background: $gradient-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media only screen and (min-width: 400px) {
  .question-container {
    justify-content: center;
    align-items: center;
  }
}
