@import "../../styles/variables.scss";

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
