@import "../../styles/variables.scss";
@import "../../styles/animations.scss";

.score-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $standard-width;
  max-width: 95vw;
  margin: auto;
}
.player-heading {
  height: $font-mobile + 1;
  background: white;
  width: 70%;
  background-color: $primary-light;
  font-family: $FancyFont;
  text-align: center;
  color: $primary-dark;
  margin: 0.5em;
  border: 1.7px $text-primary solid;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 0px $color-black;
  .position {
    color: $primary-dark;
    margin-left: 0.5em;
    font-weight: bold;
  }
  .name {
    color: $color-primary-text;
  }
  &--firstPlace {
    transform: translateY(-$xtra-small-spacer);
    border: 0.5rem #35ce8d solid;
    box-shadow: 10px 10px 10px $color-black;
    // transition: all 1s ease-in;
    animation: 1s ease-in winner;
  }

  h3 {
    margin: 0 auto 1em auto;
  }
}

.info-group {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  color: $color-secondary-text;

  .dark {
    color: $primary-dark;
    margin-left: 0.5em;
  }

  .points-group {
    display: flex;
    margin: 0 $xtra-small-spacer;
    .upArrow,
    .downArrow {
      display: none;
      &--show {
        display: block;
      }
    }
    .upArrow {
      color: $bg-correct;
    }
    .downArrow {
      color: $bg-wrong;
    }
  }
}

@media only screen and (min-width: 520px) {
  .player-heading {
    height: $font-regular + 1;
    p {
      font-size: $font-regular;
    }
  }
}
