@import "../../styles/variables.scss";

h2 {
  font-family: $FancyFont;
  text-align: center;
  color: $text-primary;
}

.page-container {
  background-color: $primary-dark;
  height: 100vh;

  p {
    font-family: $FancyFont;
    color: $color-secondary-background;
    font-weight: 300;
  }
}
