@import "../../styles/variables.scss";

h2 {
  font-family: $FancyFont;
  text-align: center;
  color: $text-primary;
}

.page-container {
  background: $gradient-background;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-family: $FancyFont;
    color: $color-secondary-background;
    font-weight: 300;
  }
}

.box-scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gamePlay,
.victory {
  display: none;
  &--visible {
    display: block;
  }
}

.scoreboard-header {
  display: flex;
  justify-content: center;
  p {
    color: $text-primary;
    font-size: 1rem;
  }
}
