@import "../../styles/variables.scss";

.score-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $max-width;
  margin: auto;
}
.player-heading {
  background: white;
  width: 70%;
  background-color: $primary-light;
  font-family: $FancyFont;
  text-align: center;
  color: $primary-dark;
  margin: 0.5em;
  padding: 2em;
  border: 1.7px $text-primary solid;
  border-radius: 0.5em;

  h3 {
    margin: 0 auto 1em auto;
  }

  .player-icon {
    margin-right: 0.4em;
    color: $text-primary;
  }
}

.info-group {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  color: $color-secondary-text;

  span {
    display: flex;
  }

  .dark {
    color: $primary-dark;
    margin-left: 0.5em;
  }
}
