@import "../../styles/variables.scss";

.start-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-dark;
  color: $text-primary;
  height: 100vh;
  width: 100vw;

  h1 {
    text-align: center;
  }

  .flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space;

    .timer {
      $font-family: $FancyFont;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;

      .value {
        font-family: $FancyFont;
        color: $color-secondary-text;
        font-size: 3rem;
        align-self: center;
      }

      .timer-text {
        font-family: $FancyFont;
        font-size: 2rem;
      }
    }

    .timer-message {
      font-family: $FancyFont;
      color: $color-secondary-background;
      font-size: 3rem;
    }
  }
}
