.timer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  .value {
    font-size: 0.2em;
    align-self: center;
  }

  .timer-text {
    font-size: 0.1em;
  }
}

.timer-message {
  font-size: 0.3em;
}
