@import "../../styles/variables.scss";

.box-waiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  // background-color: $color-primary-background;
  background: linear-gradient(rgba(37, 37, 37, 0.45), rgba(0, 0, 0, 0.45)),
    url("https://i.pinimg.com/originals/56/58/6c/56586c83d06a53b3c25ce54bb4278f62.jpg")
      no-repeat center center/cover;
  padding: 3em;
  p {
    font-family: $FanctFont;
    color: $color-secondary-background;
  }
  h2 {
    font-family: $FancyFont;
    color: $color-primary-text;
  }
  .icon {
    color: $color-secondary-background;
    transition: color 0.3s ease-in;
    &:hover {
      color: $color-primary-text;
      cursor: pointer;
    }
  }
  .waiting-header {
    margin-top: 1.5em;
    font-size: 1.5em;
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }
}
