@import "./variables.scss";

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 2px);
  }
  to {
    transform: translate(0, -0px);
  }
}

@keyframes winner {
  from {
    transform: translateY(0, 0px);
    border: 1.7px $text-primary solid;
    box-shadow: 0px 0px 0px $color-black;
  }
  65% {
    transform: translateY(-$xtra-small-spacer);
    border: 0.5rem #35ce8d solid;
    box-shadow: 10px 10px 10px $color-black;
  }
  to {
    transform: translateY(-$xtra-small-spacer);
    border: 0.5rem #35ce8d solid;
    box-shadow: 10px 10px 10px $color-black;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
