@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

//Font Variables
$Audiowide: "Audiowide", sans-serif;
$FancyFont: "Audiowide", sans-serif;

//Site Colors
$color-primary-background: #264653;
$color-secondary-background: #e9c46a;
$color-primary-text: #f4a261;
$color-secondary-text: #2a9d8f;
$color-primary-button-background: #e76f51;
$color-secondary-button-background: #2a9d8f;

//Spacers
$medium-spacer: 2rem;
